.more-icons {
  margin-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(179, 177, 177);
}
.more-icons__icon {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  align-items: center;
}
.more-icons__icon span {
  font-size: 17px;
  padding: 10px;
}
.more-suggestions {
  padding: 15px 0px;
}
.more-suggestions__icons {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: flex-start;
}
.more-suggestions__icons span {
  font-size: 15px;
}
