#no-mobile {
  position: absolute;
  z-index: 50;
  height: 100vh;
  background-color: darkorchid;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  top: 0;
}
@media screen and (max-width: 640px) {
  #no-mobile {
    display: none;
  }
}
