.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(211, 171, 211);
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__link {
  color: rgb(58, 56, 56);
  position: relative;
}
.nav__notification {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  left: 20px;
  bottom: 18px;
  font-size: 15px;
  font-weight: 500;
  color: green;
}
.nav__etc {
  display: flex;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  left: 35px;
}
